.sauna-container {
    height: 100vh;
    min-height: 950px;
    width: 100%;
    background-image: var(--bg-img-pattern);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
    object-fit: cover;
    background-size: 100% 130%;
    top: 0;
    left: 0;
    position: relative;
}

.overlay-sauna {
    min-height: 100%;
    width: 100%;
    background-color: var(--bg-overlay-sauna);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.overlay-sauna .project-description {
    background: none;
}

.promo-sauna-img,
.booking-sauna-img {
    height: 500px;
    width: 430px;
    position: absolute;
}

.promo-sauna-img {
    left: 5%;
    top: 16rem;
}

.booking-sauna-img {
    right: 5%;
    top: 16rem;
}

.main-sauna-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) !important;
    top: 13rem;
    z-index: 3;
    height: 500px;
    width: 480px;
}

.main-sauna-img-animate,
.promo-sauna-img-animate,
.booking-sauna-img-animate {
    animation-name: fade-bottom;
    animation-duration: 2s;
}

.btn-container-sauna {
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 560px;
}

.btn-container-sauna .btn-filled {
    background-color: var(--bg-button-sauna);
}

.btn-container-sauna .btn-filled:hover {
    background-color: #35493C;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 1921px) {
    .promo-sauna-img,
    .booking-sauna-img {
        height: 800px;
        width: 700px;
    }

    .main-sauna-img {
        height: 800px;
        width: 680px;
    }

    .promo-sauna-img {
        left: 15%;
    }

    .booking-sauna-img {
        right: 15%;
    }

    .btn-container-sauna {
        margin-top: 850px;
        font-size: 19px;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .sauna-container {
        min-height: 1200px;
    }

    .promo-sauna-img,
    .booking-sauna-img {
        height: 700px;
        width: 600px;
        top: 17rem;
    }

    .promo-sauna-img {
        left: 10%;
    }

    .booking-sauna-img {
        right: 10%;
    }

    .main-sauna-img {
        height: 700px;
        width: 580px;
        top: 13rem;
    }

    .btn-container-sauna {
        font-size: 19px;
        margin-top: 750px;
    }
}

@media (min-width: 880px) and (max-width: 1029px) {
    .main-sauna-img,
    .promo-sauna-img,
    .booking-sauna-img {
        height: 430px;
        width: 330px;
    }

    .promo-sauna-img {
        left: 3%;
    }

    .booking-sauna-img {
        right: 3%;
    }

    .btn-container-sauna {
        margin-top: 31rem;
    }

    .sauna-container,
    .overlay-sauna {
        min-height: 930px;
    }
}

@media (max-width: 879px) {
    .sauna-container {
        height: 80vh;
        min-height: 800px;
    }

    .main-sauna-img,
    .promo-sauna-img,
    .booking-sauna-img {
        height: 330px;
        width: 280px;
    }

    .main-sauna-img {
        top: 14rem;
    }

    .promo-sauna-img {
        left: 3%;
        top: 12rem;
    }

    .booking-sauna-img {
        right: 3%;
        top: 16rem;
    }

    .btn-container-sauna {
        margin-top: 26rem;
    }
}

@media (max-width: 599px) {
    .sauna-container {
        height: 680px;
        background-size: 150% 100%;
    }

    .main-sauna-img,
    .promo-sauna-img,
    .booking-sauna-img {
        width: 200px;
        height: 250px;
    }

    .promo-sauna-img {
        top: 13rem;
    }

    .main-sauna-img {
        top: 14rem;
    }

    .booking-sauna-img {
        top: 15rem;
    }

    .btn-container-sauna {
        margin-top: 370px;
    }
}