footer {
    height: 80px;
    width: 100%;
    background-color: var(--bg-footer);
    margin-top: -80px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.footer-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.footer-icon-container > li {
    list-style: none;
}

.link-flex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: var(--typography-dark);
    font-size: 20px;
    font-weight: 200;
}

.link-flex:hover {
    color: var(--typography-hover);
}

.center-text {
    margin-top: 0.1rem;
}

.cv-icon {
    margin-bottom: 0.3rem;
}


@media (min-width: 880px) and (max-width: 1029px) {
    .footer-icon-container {
        gap: 2rem;
    }

    .link-flex {
        font-size: 18px;
    }
}

@media (max-width: 879px) {
    .link-flex > p {
        display: none;
    }
}

@media (max-width: 599px) {
    
}