@import "./vars.css";

.btn {
    text-decoration: none;
    border-radius: 5px;
    padding: 0.8rem 1.8rem 0.6rem 1.8rem;
    text-align: center;
    text-wrap: nowrap;
}

.btn:hover,
button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

@media (max-width: 599px) {
    .btn {
        font-size: 14px;
    }
}
